conda-repo-cli==1.0.75
conda-verify==3.4.2
docker==7.0.0
hyperopt==0.2.7
inflection==0.5.1
keras==3.1.1
mlflow==2.11.3
scipy==1.11.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0